<h2><%= t('menu.sign_up') %></h2>

<%= form_for @casein_admin_user, url: sign_up_casein_admin_users_path, method: :post do |form| %>

    <div class="row">
      <div class="col-lg-6">
        <%= casein_text_field form, @casein_admin_user, :login, {:size => 30, :casein_label => "#{t('user.username')} #{t('user.username_hint')}"} %>
      </div>
      <div class="col-lg-6">
        <%= casein_text_field form, @casein_admin_user, :name, {:casein_label => t('user.name')} %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <%= casein_email_field form, @casein_admin_user, :email, {:casein_label => t('user.email')} %>
      </div>
      <div class="col-lg-6">
        <%= casein_telephone_field form, @casein_admin_user, :phone, {:casein_label => t('user.phone')} %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <%= casein_text_area_big form, @casein_admin_user, :address, {:casein_label => t('user.address')} %>
      </div>
      <div class="col-lg-6">
        <%= casein_time_zone_select form, @casein_admin_user, :time_zone, ActiveSupport::TimeZone.us_zones, {:casein_label => t('user.time_zone')} %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <%= casein_password_field form, @casein_admin_user, :password, {:casein_label => t('user.password')} %>
      </div>
      <div class="col-lg-6">
        <%= casein_password_field form, @casein_admin_user, :password_confirmation, {:casein_label => t('user.repeat_password')} %>
      </div>
      <div class="col-lg-12 password-checkbox">
        <div class="checkbox">
          <label>
            <%= check_box_tag :generate_random_password, "1", false, {:id => 'generate-random-password-checkbox'} %> <%= t('user.random_password') %>
          </label>
        </div>
      </div>
    </div>

    <p class="submits">
      <%= form.submit t('menu.sign_up'), :class => "btn btn-mini btn-primary" %>
    </p>

<% end %>

<%= content_for :sidebar do %>
    <li><%= link_to "#{casein_show_icon('user')} #{t('menu.sign_in')}".html_safe, new_casein_admin_user_session_path %></li>
<% end %>